

      <form [formGroup]="passwordInfo" (ngSubmit)="changeUserPassword()">
        <ad-modal [title]="'OTP'" [modalId]="'showChangePasswordPopup'">
          <ad-modal-body>
            <div class="overlay"></div>
            <div class="popupContainer">
              <div class="containerBlock">
                <div class="rowDiv">
                  <div class="col-SectionLeft">
                      <h2 class="headingTitle" style="font-weight: bold;font-size: 19px;margin-left: 2%;">
                         CHANGE PASSWORD SETUP
                      </h2>
                  </div>
              </div>
              <div class="formSection">
                <div class="col-12" style="margin-top:3%">
                    <div class="row">
                        <div class="col-sm-12">
                      
                            <div class="form-group">
                              <input class="form-control" id="oldpassword"  formControlName="oldpassword" type="password" placeholder="Old Password" />
                              <div *ngIf="submitted && f.oldpassword.errors"  style="color:red">
                                <div *ngIf="f.oldpassword.errors.required">Old Password is required</div>
                            </div> 
                            </div>
    
    
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" id="newPass"  formControlName="newPassword" type="password" placeholder="New Password" />
                                    <div *ngIf="submitted && f.newPassword.errors" style="color:red">
                                        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                                    </div>  
                                </div>
                                <div class="col">
                                    <input class="form-control" id="confirmPass"  formControlName="confirmPassword" type="password" placeholder="Repeat Password" />
                                    <div *ngIf="submitted && f.confirmPassword.errors"  style="color:red">
                                        <div *ngIf="f.confirmPassword.errors.required">Repeat Password is required</div>
                                    </div>
                                    <div *ngIf="submitted">
                                        <div *ngIf="passwordInfo.errors || f.newPassword.errors || f.confirmPassword.errors"  style="color:red">
                                            <div *ngIf="(passwordInfo.errors && passwordInfo.errors.equalValue=='newPassword != confirmPassword')|| (f.newPassword.errors && f.newPassword.errors.equalValue=='confirmPassword') || (f.confirmPassword.errors && f.confirmPassword.errors.equalValue=='newPassword')">Password and confirm password must be same.</div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            
    
                            
                            <div class="col-sm-12 col-sm-12 col-lg-12 passwordNote">
                                <em>Password must contain atleast one lowercase letter, one uppercase letter, one
                                    number, one special character (#?!@$%^&*-) and length should be of atleast 6
                                    characters.</em>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
              </div>
            </div>
          </ad-modal-body>
          <ad-modal-footer style="padding:0!important;">
            <div style="width:100%;float:left;margin-bottom: -9px;">
                <div style="width: 21%;float:left;margin-left: 19%;">
                    <div class="buttonSection">
                        <div class="text-center">
                          <input type="submit"  style="border:none;width: 200px;font-size:20px;background-color:#2e6993;" value="Continue" class="btn btn-info btn-block rounded-0 py-2">
                        </div>
                      </div>
                </div>
                <div style="width: 13%;float:right;margin-right: 34%;">
                    <div class="buttonSection">
                        <div class="text-center">
                          <input type="button" (click)="CloseModal()" style="border:none;width: 200px;font-size:20px;background-color:#eabb2b;" value="Cancel" class="btn btn-info btn-block rounded-0 py-2">
                        </div>
                      </div>
                </div>
              </div>
          </ad-modal-footer>
        </ad-modal>
      </form>
    
      