<!-- <header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">{{username}}</span>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900">HOME</a>
        <a class="mr-5 hover:text-gray-900">ABOUT</a>
        <a class="mr-5 hover:text-gray-900">SERVICES</a>
        <a class="mr-5 hover:text-gray-900">CONTACT US</a>
      </nav>
      <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0" (click)="logout()">LOGOUT
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header>
  <hr> -->




<header>
  <div class="header-top wow fadeIn">
    <div class="container">
      <a class="navbar-brand" (click)="navigatetopage('logo')"><img src="../../assets/images/logo.png" alt="image"></a>
      <div class="right-header">
        <div class="header-info">
          <div class="info-inner">
            <span class="icontop"><img src="../../assets/images//phone-icon.png" alt="#"></span>
            <span class="iconcont"><a href="tel:971 634 2619">971 634 2619</a></span>
          </div>
          <div class="info-inner">
            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">knowledgerelated@gmail.com</a></span>
          </div>
          <div class="info-inner">
            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
            <span class="iconcont"><a data-scroll href="#">Daily: 7:00am - 8:00pm</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom wow fadeIn" style="visibility: visible;
    animation-name: fadeIn;height:50px;">
    <div class="container">
      <nav class="main-menu">
        <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
             </div> -->

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="active" (click)="navigatetopage('home')">Home</a></li>
            <!-- <li><a data-scroll href="#about">About </a></li> -->
            <li><a data-scroll (click)="navigatetopage('pharmacistlist')">Pharmacist</a></li>
            <li><a data-scroll (click)="navigatetopage('doctorlist')">Doctors</a></li>
            <li><a data-scroll (click)="navigatetopage('nurselist')">Nurse</a></li>
            <li><a data-scroll (click)="navigatetopage('physcotherapistlist')">Physcotherapist</a></li>
            <li><a data-scroll (click)="navigatetopage('patientlist')">Patient</a></li>
            <!-- <li><a data-scroll (click)="navigatetopage('ReqPatientMedHomeDel')">Req</a></li> -->
            <li><a data-scroll (click)="navigatetopage('otherlinks')">OtherLinks</a></li>

            <!-- <li><a data-scroll (click)="navigatetopage('PharmaVisitCompleteIntimation')">Ph</a></li>
            <li><a data-scroll (click)="navigatetopage('visitforall')">vfall</a></li> -->

            <li><a data-scroll (click)="navigatetopage('login')">Logout</a></li>
          </ul>
        </div>
      </nav>
      <!-- <div class="serch-bar">
             <div id="custom-search-input">
                <div class="input-group col-md-12">
                   <input type="text" class="form-control input-lg" placeholder="Search" />
                   <span class="input-group-btn">
                   <button class="btn btn-info btn-lg" type="button">
                   <i class="fa fa-search" aria-hidden="true"></i>
                   </button>
                   </span>
                </div>
             </div>
          </div> -->
    </div>
  </div>


 
</header>
<!-- <div *ngIf="showRequestPatMedHomeDelivery">
  <app-request-pat-med-home-delivery [showModal]="showRequestPatMedHomeDeliveryModal"  (ClosePopup)="closeRequestPatMedHomeDelivery()"> </app-request-pat-med-home-delivery>
</div> -->
<!-- <div *ngIf="showPharmacistVisitCompleteIntimation">
  <app-pharmacist-visit-complete-intimation [showModal]="showPharmacistVisitCompleteIntimationModal"  (ClosePopup)="closePharmacistVisitCompleteIntimation()"> </app-pharmacist-visit-complete-intimation>
</div> -->
<!-- <div *ngIf="showVisitForAll">
  <app-visitforall [showModal]="showVisitForAllModal" [appointmentid]=""  (ClosePopup)="closeshowVisitForAll()"> </app-visitforall>
</div> -->
