


<div class="container mt-2" style="position:absolute;top:21%;left:7%;">

    <div style="margin-bottom:1%;">
      <!-- <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p> -->
      <a  class="btn btn-primary"  *ngIf="currentUser.user.role==4" (click)="openPatientProfilePopup()">Welcome for the Pharmacist to see their profile</a>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 item" *ngFor="let data of patientListData">
        <div class="card item-card card-block">
        <h4 class="card-title text-right">
          <i  *ngIf="currentUser.user.role==11" class="fa fa-times" aria-hidden="true" (click)="Delete_PharmacistProfile(data._id)"></i>
          <!-- <i class="fa fa-pencil" aria-hidden="true" (click)="openPatientProfilePopup()"></i> -->
        </h4>
      <img src="https://www.careeraddict.com/uploads/article/52732/Photo_20of_20a_20professional_20pharmacist_20checking_20stock_20in_20an_20aisle_20of_20a_20local_20drugstore_202.jpg" alt="Photo of sunset">
          <h5 class="item-card-title mt-3 mb-3">{{data.name}}</h5>
          <p class="card-text">{{data.experties}}</p>
    </div>
      </div>

    </div>

  </div>


  <div *ngIf="showpharmacistformpopup">
      <app-pharmacistprofile [showModal]="showpharmacistformpopup"  (ClosePopup)="closePatientProfilePopup()"> </app-pharmacistprofile>
    </div>


