<form [formGroup]="VerifyOTPInfo" (ngSubmit)="verifyOTPContinueBtnClick()">
    <ad-modal [title]="'OTP'" [modalId]="'showVerifyOTPPopup'">
      <ad-modal-body>
        <div class="overlay"></div>
        <div class="popupContainer">
          <div class="containerBlock">
            <div class="rowDiv">
              <div class="col-SectionLeft">
                  <h2 class="headingTitle" style="font-weight: bold;font-size: 19px;margin-left: 2%;">
                      Verify OTP
                  </h2>
              </div>
          </div>
          <div class="formSection">
            <div class="col-12" style="margin-top:3%">
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom: 8px;">
                      <div class="col-sm-12 col-sm-12 col-lg-12" *ngIf="inputForVerifyOTP.regMobileNo!=''">
                        <em style="color: red;">{{sendMobileNoStartMsg}}{{inputForVerifyOTP.regMobileNo.substring(8)}}{{sendMobileNoEndMsg}}</em>
                      </div>
                        <div class="form-group">
                            <span class="has-float-label">
                                <input disabled class="form-control" id="userEmail"  formControlName="userEmail"  type="text" placeholder="Registered email id" />
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="has-float-label">
                                <input class="form-control" formControlName="otp" id="otp" type="text"
                                    placeholder="Enter The One time password received on your Email." />
                                <div *ngIf="submitted && f.otp.errors" 
                                    style="color:red">
                                    <div *ngIf="f.otp.errors.required">OTP is required</div>
                                </div>
                            </span>
                        </div>
                        <a style="color: blue;font-size: 12px;float: left;text-decoration: underline;" (click)="resendOTP()"><i class="fa fa-repeat" style="padding-right: 10px;font-size: 17px;" aria-hidden="true"></i>Resend OTP</a>
                    </div>
                </div>
            </div>
        </div>
          </div>
        </div>
      </ad-modal-body>
      <ad-modal-footer style="padding:0!important;">
        <div style="width:100%;float:left;margin-bottom: -9px;">
            <div style="width: 21%;float:left;margin-left: 19%;">
                <div class="buttonSection">
                    <div class="text-center">
                      <input type="submit"  style="border:none;width: 200px;font-size:20px;background-color:#2e6993;" value="Continue" class="btn btn-info btn-block rounded-0 py-2">
                    </div>
                  </div>
            </div>
            <div style="width: 13%;float:right;margin-right: 34%;">
                <div class="buttonSection">
                    <div class="text-center">
                      <input type="button" (click)="CloseModal()" style="border:none;width: 200px;font-size:20px;background-color:#eabb2b;" value="Cancel" class="btn btn-info btn-block rounded-0 py-2">
                    </div>
                  </div>
            </div>
          </div>
      </ad-modal-footer>
    </ad-modal>
  </form>


 
    