


<div class="container mt-2" style="position:absolute;top:17%;left:7%;">

    <div style="margin-bottom:1%;">
      <!-- <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p> -->
      <a class="btn btn-primary" *ngIf="currentUser.user.role==0"   (click)="openPatientProfilePopup()">Welcome for the Patient to see their profile</a>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 item" *ngFor="let data of patientListData">
        <div class="card item-card card-block" style="padding: 2% 2%;">
        <!-- <h4 class="card-title text-right">
                    <i class="fa fa-pencil"  *ngIf="currentUser.user.role==11" aria-hidden="true" (click)="openPatientProfilePopup(data._id)"></i>

          <i  *ngIf="currentUser.user.role==11" class="fa fa-times" aria-hidden="true" (click)="Delete_PatientProfile(data._id)"></i>

        </h4> -->
      <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8XO3HWFLnuQQKlWrvAWAzeezLmPjpMkb50g&usqp=CAU" alt="Photo of sunset"> -->
      <img *ngIf="!(data.newimage && data.newimage.data && data.newimage.data.data)" src="https://cyclonethemes.com/demo/html/swasthye/images/home/appointment.png" alt="Photo of sunset">
      <img *ngIf="data.newimage && data.newimage.data && data.newimage.data.data" src="{{arrayBufferToBase64(data.newimage.data.data)}}" alt="Photo of sunset">
      <h5 class="item-card-title mt-3 mb-3">{{data.name}}</h5>
      <!-- <p class="card-text">{{data.email}}</p> -->
      <p class="card-text">{{data.description}}</p>

      <div style="float:left;width:100%">
        <div style="float:left;width:96%" class="card-title1">
         <i class="fa fa-pencil" *ngIf="currentUser.user.role==11" aria-hidden="true"
         (click)="openPatientProfilePopup(data._id)"></i>
           </div>
           <div style="float:left;width:4%" class="card-title1">
             <i *ngIf="currentUser.user.role==11" class="fa fa-trash" aria-hidden="true"
             (click)="openConfirmationPopup(data._id)" style="color:red"></i>
           </div>
           </div>

    </div>
      </div>

    </div>

  </div>


  <div *ngIf="showpatientformpopup">
      <app-patientprofile [showModal]="showpatientformpopup" [getpatientprofileid]="getpatientprofileid" (ClosePopup)="closePatientProfilePopup($event)"> </app-patientprofile>
    </div>

    <div *ngIf="showConfirmationPopup">
      <app-confirmation [showModal]="showConfirmationPopup" [showData]="showData" (ClosePopup)="closeConfirmationPopup($event)">
      </app-confirmation>
    </div>


