


<div class="container mt-2" style="position:absolute;top:17%;left:7%;">

    <div style="margin-bottom:1%;">
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 item" *ngFor="let data of patientListData">
        <div class="card item-card card-block" style="padding: 2% 2%;">
      <img *ngIf="!(data.newimage && data.newimage.data && data.newimage.data.data)"
          src="{{getDefaultImage}}" alt="Photo of sunset">
        <img *ngIf="data.newimage && data.newimage.data && data.newimage.data.data"
          src="{{arrayBufferToBase64(data.newimage.data.data)}}" alt="Photo of sunset">
      <h5 class="item-card-title mt-3 mb-3" style="font-weight: 800;">{{data.name}}</h5>
      <div style="float: left;width: 100%;">
        <div style="float: left;width: 54%;">
<p style="float: left;width: 29%;">Age:</p>
<span style="float: left;width: 30%;font-weight: 800;">{{data.age}}</span>
        </div>
        <div style="float: left;width: 46%;">
          <p style="float: left;width: 60%;">Gender:</p>
          <span style="float: left;width: 30%;font-weight: 800">{{data.gender==1?"M":"F"}}</span>
                  </div>
      </div>
      <p class="card-text">{{data.description}}</p>

      <div style="float:left;width:100%">
        <div style="float:left;width:96%" class="card-title1">
         <i class="fa fa-pencil" *ngIf="currentUser.user.role==11" aria-hidden="true"
         (click)="openPatientProfilePopup(data._id)"></i>
           </div>
           <div style="float:left;width:4%" class="card-title1">
             <i *ngIf="currentUser.user.role==11" class="fa fa-trash" aria-hidden="true"
             (click)="openDeleteConfirmationPopup(data._id)" style="color:red"></i>
           </div>
           </div>

    </div>
      </div>

    </div>

  </div>


  <div *ngIf="showpatientformpopup">
      <app-patientprofile [calledFrom]="'frompatientlistpage'" [showModal]="showpatientformpopup" [getpatientprofileid]="getpatientprofileid" (ClosePopup)="closePatientProfilePopup($event)"  (patientProfileResponseReturn)="patientProfileResponseReturn($event)"> </app-patientprofile>
    </div>

    <div *ngIf="showConfirmationPopup">
      <app-confirmation [showModal]="showConfirmationPopup" [showData]="showData" (ClosePopup)="closeConfirmationPopup($event)">
      </app-confirmation>
    </div>


