
<div  style="background-color: lightcyan;">
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Registration</h2>
                        <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.

</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill with your details</h4>
                <form [formGroup]="userInfo" (ngSubmit)="registration()">
                  <div class="form-row">
                        <div class="form-group col-md-6">
                          <input class="form-control" id="name" type="text" formControlName="name" name="name"
                          placeholder="Full Name" />
                        </div>
                        <div class="form-group col-md-6">
                          <input class="form-control" id="email" type="email" formControlName="email" name="email"
                      placeholder="Email Address" />
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input type="password" formControlName="password" class="form-control" placeholder="Password"
                          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="form-group col-md-6">
                          <select formControlName="role">
                            <option selected>Role ...</option>
                                    <option value="1"> Individual</option>
                                    <option value="2"> Doctor</option>
                                    <option value="3"> Nurse</option>
                                    <option value="4"> Physio</option>
                            
                          </select> 

<!-- 
                                  <select id="inputState" class="form-control">
                                    <option selected>Role ...</option>
                                    <option > Individual</option>
                                    <option> Doctor</option>
                                    <option> Nurse</option>
                                    <option> Physio</option>
                                  </select> -->
                        </div>
                        <div class="form-group col-md-6">
                          <input id="password" name="Password" placeholder="Password" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="confirmpassword" class="form-control" id="confirmpassword" placeholder="Confirm Password">
                        </div>
                        <div class="form-group col-md-12">
                                  <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                   
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                  <label class="form-check-label" for="invalidCheck2">
                                    <small>By clicking Submit, you agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</small>
                                  </label>
                                </div>
                              </div>
                    
                          </div>
                    </div>
                    
                    <div class="form-row">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>