<div style="background-color: rgb(167 194 203) !important">
  <section class="testimonial" id="testimonial">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 bg-primary text-white text-center " style="background-color:#5e828e7d !important ;    padding-bottom: 0rem !important; ">
          <div class=" ">
            <div class="card-body">
              <img src="../../assets/images/Registration.jpg">
              <div  (click)="navigateToLoginPage()" style="cursor: pointer;font-weight: 600;font-size: 20px;">Already Have An Account?</div>
            </div>
          </div>
        </div>
        <div class="col-md-8  border" style="margin-bottom:9%">
          <h4 class="pb-4">Please fill with your details</h4>
          <div class="contact-form">
            <form [formGroup]="userInfo" (ngSubmit)="registration()">
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname">First Name:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="name" type="text" formControlName="name" name="name"
                    placeholder="Name" />
                  <div *ngIf="submitted && userInfo.controls.name.invalid">
                    <div *ngIf="f.name.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                      First Name is Required Field.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Email:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="email" type="email" formControlName="email" name="email"
                    placeholder="Email Address" />
                  <div *ngIf="submitted && userInfo.controls.email.invalid">
                    <div *ngIf="f.email.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                      Email is Required Field.
                    </div>
                  </div>
                </div>
              </div>


              <!-- <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Role:</label>
                <div class="col-sm-10">
                  <select formControlName="role" class="form-control">
                    <option value="0"> Patient</option>
                    <option value="1"> Doctor</option>
                    <option value="2"> Nurse</option>
                    <option value="3"> Physio</option>
                    <option value="4"> Pharmacist</option>
                    <option value="5"> Lab Technician</option>
                    <option value="11"> Admin</option>
                  </select>
                  <div *ngIf="submitted && userInfo.controls.role.invalid">
                    <div *ngIf="f.role.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                      Role is Required Field.
                    </div>
                  </div>
                </div>
              </div> -->



              <div class="row" style="margin-bottom:15px;">
                <div class="col" style="margin-left:15px;">
                  <label class="control-label col-sm-2" for="gender" style="padding-left:2px;">Sex:</label>
                  <select formControlName="gender" class="form-control">
                    <option value="1"> Male</option>
                    <option value="2"> Female</option>
                  </select>                   
                </div>
                <div class="col" style="margin-right:18%">
                <label class="control-label col-sm-2" for="lname" style="padding-left:2px;">Role:</label>
                <select formControlName="role" class="form-control">
                  <option value="0"> Patient</option>
                  <option value="1"> Doctor</option>
                  <option value="2"> Nurse</option>
                  <option value="3"> Physio</option>
                  <option value="4"> Pharmacist</option>
                  <option value="5"> Lab Technician</option>
                  <!-- <option value="11"> Admin</option> -->  <!-- Don't commit this option to live, we will only register admin profile from localhost -->                </select>
                <div *ngIf="submitted && userInfo.controls.role.invalid">
                  <div *ngIf="f.role.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                    Role is Required Field.
                  </div>
                </div>
                </div>
              </div>



              <div class="row" style="margin-bottom:15px;">
                <div class="col" style="margin-left:15px;">
                  <label  for="lname" style="padding-left:2px;">Phone Number:</label>
                  <div style="width:100%;float:left">
                    <div style="width:30%;float:left">
                      <select class="form-control">
                        <option value="+91" selected> +91</option>
                      </select>
                    </div>
                    <div style="width:70%;float:left">
                      <input class="form-control" id="tel" type="tel" maxlength="10" formControlName="phoneno" name="phoneno"
                      placeholder="Phone Number" />
                    </div>
                  </div>
             
               
                <div *ngIf="submitted">
                  <div style="color:red;font-size: 14px;font-family: auto;">
                    {{getMessage(userInfo.controls['phoneno'],'phoneno','Phoe No')}}</div>
                </div>
                </div>


                <div class="col" style="margin-right:18%;margin-top:4%">
                  <div [hidden]="f.phoneno.value.length!=10">
                    <form [formGroup]="tempForm" [hidden]="isRegMobileNoVerified">
                      <input [hidden]="OTPFromAPI"
                        style="width: 34%;float: left;height: 36px;margin-top: 3px;border-radius: 4px;font-size: 14px;background: #22a2b8;"
                        type="button" class="btn-primary" value="Send OTP" (click)="sendOTP(f.phoneno.value)">
                      <input [hidden]="!OTPFromAPI"
                        style="width: 32%;float: right;height: 35px;border-radius: 0px;background: #22a2b8;font-size: 14px;margin-top: 1%;"
                        type="button" class="btn-primary" value="Verify OTP" (click)="verifyRegMobOTP()">
                      <input [hidden]="!OTPFromAPI" style="width: 61%;float: left;margin-top: 1%;margin-left: 2%;" type="text"
                        class="form-control" maxlength="6" placeholder="Enter OTP" formControlName="OTPFromRegistrationForm">
                
                    </form>
                    <div [hidden]="!isRegMobileNoVerified" style="margin-left: -23%;margin-top: 4%;">
                      <a><i class="fa fa-check-circle" aria-hidden="true" style="color: green;font-size: 20px;"></i></a>
                    </div>
                    <div *ngIf="isverifyOTPbtnClicked && !isRegMobileNoVerified">
                      <div style="color:red;font-size: 14px;font-family: auto;width: 60%;">
                        OTP does not matched
                      </div>
                    </div>
                    <div *ngIf="submitted && !isRegMobileNoVerified">
                      <div style="color:red;font-size: 14px;font-family: auto;width: 75%;">
                        Mobile Number is not verified
                      </div>
                    </div>
                  </div>
                
                </div>


              </div>
              <div class="row" style="margin-bottom:15px;">
                
                <div class="col" style="margin-left:15px">
                  <label class="control-label col-sm-2" for="lname"  style="padding-left:2px;">Password:</label>

                  <input type="password" formControlName="password" style="width: 39%;" class="form-control" placeholder="Password"
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">

                <div *ngIf="submitted && userInfo.controls.password.invalid">
                  <div *ngIf="f.password.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                    Password is Required Field.
                  </div>
                </div>
                </div>
              </div>
              <div class="form-group" style="margin-top: 9%;">
                <div class="col-sm-4">
                  <input class="form-control" id="cpatchaTextBox" autocomplete="off" placeholder="Enter Captcha" />
                  <div *ngIf="submitted && isInvalidCaptcha" style="color:red;font-size: 14px;font-family: auto;">
                    Invalid Captcha Code.
                  </div>
                  <div id="captcha" style="float: left;"></div>
                   <i class="fa fa-refresh" area-hidden="true" style="float: right;cursor: pointer;color: mediumblue;font-size: 28px;padding-top: 3%;" (click)="createCaptcha()" ></i>
                </div>
              </div>
              <div class="col-sm-12 col-sm-12 col-lg-12" *ngIf="submitted && inActiveEmailID">
                <em style="color: red;">{{errorMessage}}</em>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  
                  <div style="float:left;width:100%">
                    <div style="float:left;width:40%">
                      <div class="buttonSection">
                        <div class="text-center">
                          <input type="submit" style="width: 200px;" value="Sign Up"
                            class="btn btn-info btn-block rounded-0 py-2">
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

