<div style="background-color: rgb(167 194 203) !important;">
  <section class="testimonial py-5" id="testimonial">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 py-5 bg-primary text-white text-center " style="background-color:#007bff !important ;">
          <div class=" ">
            <div class="card-body">
              <img src="../../assets/images/Registration.jpg">
              <div class="py-3" (click)="navigateToLoginPage()">Already Have An Account?</div>
              <!-- <h2 class="py-3">Registration</h2>
              <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto
                patrioque an per, lucilius pertinacia eu vel.
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-md-8 py-5 border">
          <h4 class="pb-4">Please fill with your details</h4>
          <div class="contact-form">
            <form [formGroup]="userInfo" (ngSubmit)="registration()">
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname">First Name:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="name" type="text" formControlName="name" name="name"
                    placeholder="Name" />
                    <div *ngIf="submitted && userInfo.controls.name.invalid">
                      <div *ngIf="f.name.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                        This Field is Required.
                      </div>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Email:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="email" type="email" formControlName="email" name="email"
                    placeholder="Email Address" />

                    <div *ngIf="submitted && userInfo.controls.email.invalid">
                      <div *ngIf="f.email.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                        This Field is Required.
                      </div>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="lname">Phone Number:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="tel" type="tel" formControlName="phoneno" name="phoneno"
                  placeholder="Phone Number" />
                <div *ngIf="submitted && userInfo.controls.phoneno.invalid">
                <div *ngIf="f.phoneno.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                  This Field is Required.
                </div>
                <div *ngIf="f.phoneno.errors.pattern" style="color:red;font-size: 14px;font-family: auto;">Please enter a valid phone number</div>
            </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Password:</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="password" class="form-control" placeholder="Password"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">

                    <div *ngIf="submitted && userInfo.controls.password.invalid">
                      <div *ngIf="f.password.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                        This Field is Required.
                      </div>
                  </div>

                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Role:</label>
                <div class="col-sm-10">
                  <select formControlName="role" class="form-control">
                    <option value="0"> Patient</option>
                    <option value="1"> Doctor</option>
                    <option value="2"> Nurse</option>
                    <option value="3"> Physio</option>
                    <option value="3"> Physio</option>
                    <option value="4"> Pharmacist</option>
                    <option value="5"> Lab Technician</option>

                    <option value="11"> Admin</option>
                  </select>

                  <div *ngIf="submitted && userInfo.controls.role.invalid">
                    <div *ngIf="f.role.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                      This Field is Required.
                    </div>
                </div>

                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="comment">Description:</label>
                <div class="col-sm-10">
                  <textarea id="comment" name="comment" formControlName="description" cols="40" rows="3"
                    class="form-control"></textarea>
                    <div *ngIf="submitted && userInfo.controls.description.invalid">
                      <div *ngIf="f.description.errors.required" style="color:red;font-size: 14px;font-family: auto;">
                        This Field is Required.
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="buttonSection">
                    <div class="text-center">
                      <input type="submit" style="width: 200px;" value="Sign Up"
                        class="btn btn-info btn-block rounded-0 py-2">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
