


<div  style="position:absolute;top:17%;left: 3%;width: 93%;right: 3%;">
    <div class="row">

      <div style="width: 100%;float: left;margin-bottom: 1%;">
        <!-- <div style="width:15%;float:left;margin-top: 1%;">
          <h5 style="padding-top:4px;padding-left: 4px;">Find Your Doctor</h5>
        </div> -->
        <div style="width: 16%;float: left;margin-left: 32%;">
          <select class="form-control" style="font-size: 12px;height: 28px;" (change)="paymentTypeChangeEvent($event.target.value)">

            <option value="Select PaymentType" selected>Search by PaymentType</option>
            <option *ngFor="let opt of PaymentEnumTypeArray" [value]="opt.id">
              {{opt.name}}</option>
          </select>
        </div>


      </div>


      <table class="table table-hover my-0" style="text-align: center;">
        <thead style="background-color: #39b49b;">
          <tr>
            <th style="width: 5%;">S.No</th>
            <!-- <th style="width: 13%;">Image</th> -->
            <th style="width: 13%;">Patient Email</th>
            <th style="width: 13%;" class="d-none d-xl-table-cell">Bank</th>
            <th style="width: 13%;" class="d-none d-xl-table-cell">Payment Type</th>
            <th style="width: 13%;" class="d-none d-xl-table-cell">Contact</th>
            <th style="width: 13%;" class="d-none d-xl-table-cell">Order ID</th>
            <th class="d-none d-xl-table-cell" style="float: right;">Amount</th>
            <th class="d-none d-xl-table-cell">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of paymentListData;let i = index;">
            <td>{{i+1}}.</td>
            <!-- <td>
              <img *ngIf="!(data.newimage && data.newimage.data && data.newimage.data.data)" src="{{getDefaultImage}}"
                alt="Photo of sunset">
              <img *ngIf="data.newimage && data.newimage.data && data.newimage.data.data"
                src="{{arrayBufferToBase64(data.newimage.data.data)}}" alt="Photo of sunset">
            </td> -->
            <td>{{data.patientEmail}}</td>
            <td class="d-none d-xl-table-cell">{{data.bank}}</td>
            <td class="d-none d-md-table-cell" style="font-weight: 600;">{{data.paymentTypeEnumValue}}</td>
            <td class="d-none d-xl-table-cell">{{data.contact}}</td>
            <td class="d-none d-xl-table-cell">{{data.order_id}}</td>
            <td class="d-none d-md-table-cell" style="text-align: right; font-weight: 600;">&#8377; {{data.amount/100}}</td>
            <td class="d-none d-xl-table-cell" style="color: green;">{{data.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


