<div class="loginSection" style="position: absolute;height: 100%;">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form [formGroup]="loginInfo" (ngSubmit)="loginUser()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" formControlName="email" class="form-control" placeholder="Email Address"
						onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
					  <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="color:red">
						<div *ngIf="f.email.errors.required">Email Address is required</div>
					  </div>


					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						
						<input [type]="passwordType" formControlName="password" class="form-control" placeholder="Password"
						onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						<img src="../../assets/images/eye-outline.png" *ngIf="passwordType == 'password'" (click)="passwordType = 'text'" class="eyeIcon">
						<img src="../../assets/images/eye-off-outline.png" *ngIf="passwordType == 'text'" (click)="passwordType = 'password'" class="eyeIcon">
						
					  <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="color:red">
						<div *ngIf="f.password.errors.required">Password is required</div>
					  </div>     					</div>

					  <!-- <div *ngIf="errorMessage!=''" class="invalid-feedback-error" style="color:red; float: left;">
						<div *ngIf="errorMessage!=''">{{errorMessage}}</div>
					  </div> -->

					<div class="row align-items-center remember">
						<input type="checkbox" id="readtandc" (change)="readTandC($event)">Remember Me
					</div>
					<div class="form-group">
						<input type="submit"  value="Login" class="btn float-right login_btn">
						<!-- <input type="submit"  routerLink="/home" value="Login" class="btn float-right login_btn"> -->
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a routerLink="/registration">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a (click)="openForgotPasswordPopup()" style="cursor: pointer;">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div *ngIf="showForgotPasswordPopup">
	<app-forgotpassword  [calledFrom]="'login'" [showModal]="showForgotPasswordPopup" [email]="f.email.value" (ClosePopup)="closeForgotPasswordPopup()" (forgotPasswordSet)="forgotPasswordSet($event)"> </app-forgotpassword>
  </div>
  

  <div *ngIf="showVerifyOTPPopup">
    <app-verifyotp   [showModal]="showVerifyOTPPopup" [inputForVerifyOTP]="inputForVerifyOTP"  (ClosePopup)="closeVerifyOTPPopup()" (verifyOTPSet)="verifyOTPSet($event)"> </app-verifyotp>
    </div>


    <div *ngIf="showPasswordSetupPopup">
      <app-passwordsetup [calledFrom]="'login'" [showModal]="showPasswordSetupPopup" [userEmail]="inputForVerifyOTP.userEmail"  (ClosePopup)="closePasswordSetupPopup()"> </app-passwordsetup>
      </div>