

      <form [formGroup]="forgotPasswordInfo" (ngSubmit)="GenerateOTP()">
      <ad-modal [title]="'OTP'" [modalId]="'showForgotPasswordPopup'">
        <ad-modal-body>
          <div class="overlay"></div>
          <div class="popupContainer">
            <div class="containerBlock">
              <div class="rowDiv">
                <div class="col-SectionLeft">
                    <h2 class="headingTitle" style="font-weight: bold;font-size: 19px;margin-left: 2%;">
                        FORGOT PASSWORD
                    </h2>
                </div>
            </div>
            <div class="formSection">
              <div class="col-12" style="margin-top:3%">
                  <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input class="form-control" id="email"  formControlName="email" type="text" placeholder="Email" />
                          <div *ngIf=" submitted && forgotPasswordInfo.controls.email.errors" 
                          style="color:red">
                          <div *ngIf="forgotPasswordInfo.controls.email.errors.required">Email address is required</div>
                          <div *ngIf="forgotPasswordInfo.controls.email.errors.pattern">Please enter a valid email
                              address</div>
                      </div>
                      <div *ngIf="submitted && errorMessage">
                          <div>{{errorMessage}}</div>
                      </div>
                        </div>

                        <div class="form-group">
                          <input class="form-control" id="email"  formControlName="email" type="text" placeholder="Email" />
                          <div *ngIf=" submitted && forgotPasswordInfo.controls.email.errors" 
                          style="color:red">
                          <div *ngIf="forgotPasswordInfo.controls.email.errors.required">Email address is required</div>
                          <div *ngIf="forgotPasswordInfo.controls.email.errors.pattern">Please enter a valid email
                              address</div>
                      </div>
                      <div *ngIf="submitted && errorMessage">
                          <div>{{errorMessage}}</div>
                      </div>
                        </div>
                        
                      </div>
                  </div>
              </div>
          </div>
            </div>
          </div>
        </ad-modal-body>
        <ad-modal-footer style="padding:0!important;">
          <div style="width:100%;float:left;margin-bottom: -9px;">
              <div style="width: 21%;float:left;margin-left: 19%;">
                  <div class="buttonSection">
                      <div class="text-center">
                        <input type="submit"  style="border:none;width: 200px;font-size:20px;background-color:#2e6993;" value="Continue" class="btn btn-info btn-block rounded-0 py-2">
                      </div>
                    </div>
              </div>
              <div style="width: 13%;float:right;margin-right: 34%;">
                  <div class="buttonSection">
                      <div class="text-center">
                        <input type="button" (click)="CloseModal()" style="border:none;width: 200px;font-size:20px;background-color:#eabb2b;" value="Cancel" class="btn btn-info btn-block rounded-0 py-2">
                      </div>
                    </div>
              </div>
            </div>
        </ad-modal-footer>
      </ad-modal>
    </form>





      
<div *ngIf="showVerifyForgotPasswordPopup">
        <ad-modal [title]="'OTP'" [modalId]="'showVerifyForgotPasswordPopup'">
          <ad-modal-body>
            <div class="overlay"></div>

            <form [formGroup]="passwordVerifyInfo">
            <div class="popupContainer">
              <div class="containerBlock">

                <div class="formSection">
                  <div class="container">
                    <h2 class="text-center"></h2>
                    <div class="row justify-content-center">
                      <div class="col-8">
                          <div class="card" style="border: transparent!important;">
                            <div class="card-header p-0">
                              <div class="bg-info text-white text-center py-2">
                                <h3><i class="fa fa-medkit"></i>Verify OTP</h3>
                              </div>
                            </div>
                            <div class="card-body p-3">


                                <div class="form-group">
                                    <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                      </div>
                                      <input class="form-control" id="Otp"  formControlName="Otp" type="text" placeholder="OTP" />
                                    </div>
                                  </div>


                              <div class="form-group">
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                  </div>
                                  <input class="form-control" id="newPass"  formControlName="newPassword" type="password" placeholder="New Password" />
                                  <div *ngIf="submitted && f.newPassword.errors" style="color:red">
                                      <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                                  </div>  
                                </div>
                              </div>



    
    
                              <!-- <div class="form-group">
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                  </div>
                                  <input class="form-control" id="confirmPass"  formControlName="confirmPassword" type="password" placeholder="Repeat Password" />
                                  <div *ngIf="submitted && f.confirmPassword.errors"  style="color:red">
                                      <div *ngIf="f.confirmPassword.errors.required">Repeat Password is required</div>
                                  </div>
                                  <div *ngIf="submitted">
                                      <div *ngIf="passwordInfo.errors || f.newPassword.errors || f.confirmPassword.errors"  style="color:red">
                                          <div *ngIf="(passwordInfo.errors && passwordInfo.errors.equalValue=='newPassword != confirmPassword')|| (f.newPassword.errors && f.newPassword.errors.equalValue=='confirmPassword') || (f.confirmPassword.errors && f.confirmPassword.errors.equalValue=='newPassword')">Password and confirm password must be same.</div>
                                      </div>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
      
                </div>


      
              </div>
            </div>
            
        </form> 




          </ad-modal-body>
          <ad-modal-footer>
            <div class="buttonSection">
              <div class="text-center">
                  <input type="button"  (click)="forgotPassword()" style="width: 200px;" value="Submit" class="btn btn-info btn-block rounded-0 py-2">
                </div>
            </div>
          </ad-modal-footer>
      
        </ad-modal>
      
    </div>
      
