

      <form [formGroup]="forgotPasswordInfo" (ngSubmit)="GenerateOTP()">
      <ad-modal [title]="'OTP'" [modalId]="'showForgotPasswordPopup'">
        <ad-modal-body>
          <div class="overlay"></div>
          <div class="popupContainer">
            <div class="containerBlock">
              <div class="rowDiv">
                <div class="col-SectionLeft">
                    <h2 class="headingTitle" style="font-weight: bold;font-size: 19px;margin-left: 2%;">
                        FORGOT PASSWORD
                    </h2>
                </div>
            </div>
            <div class="formSection">
              <div class="col-12" style="margin-top:3%">
                  <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input class="form-control" id="email"  formControlName="email" type="text" placeholder="Email" />
                          <div *ngIf=" submitted && forgotPasswordInfo.controls.email.errors" 
                          style="color:red">
                          <div *ngIf="forgotPasswordInfo.controls.email.errors.required">Email address is required</div>
                          <div *ngIf="forgotPasswordInfo.controls.email.errors.pattern">Please enter a valid email
                              address</div>
                      </div>
                      <div *ngIf="submitted && errorMessage">
                          <div>{{errorMessage}}</div>
                      </div>
                        </div>


                      </div>
                  </div>
              </div>
          </div>
            </div>
          </div>
        </ad-modal-body>
        <ad-modal-footer style="padding:0!important;">
          <div style="width:100%;float:left;margin-bottom: -9px;">
              <div style="width: 21%;float:left;margin-left: 19%;">
                  <div class="buttonSection">
                      <div class="text-center">
                        <input type="submit"  style="border:none;width: 200px;font-size:20px;background-color:#2e6993;" value="Continue" class="btn btn-info btn-block rounded-0 py-2">
                      </div>
                    </div>
              </div>
              <div style="width: 13%;float:right;margin-right: 34%;">
                  <div class="buttonSection">
                      <div class="text-center">
                        <input type="button" (click)="CloseModal()" style="border:none;width: 200px;font-size:20px;background-color:#eabb2b;" value="Cancel" class="btn btn-info btn-block rounded-0 py-2">
                      </div>
                    </div>
              </div>
            </div>
        </ad-modal-footer>
      </ad-modal>
    </form>

    <!-- <div *ngIf="showVerifyOTPPopup">
      <app-verifyotp   [showModal]="showVerifyOTPPopup" [inputForVerifyOTP]="inputForVerifyOTP"  (ClosePopup)="closeVerifyOTPPopup()"> </app-verifyotp>
      </div> -->




      


  