
  <div class="container mt-2" style="position:absolute;top:17%;left:7%;">
    <div style="margin-bottom:1%;">
      <!-- <a class="btn btn-primary" (click)="openLabTestPackageProfilePopup()" *ngIf="currentUser.user.role==1">Welcome to see book lab test list</a> -->
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 item" *ngFor="let data of labTestData">
        <div class="card item-card card-block" style="padding: 2% 2%;">
          <img *ngIf="!(data.newimage && data.newimage.data && data.newimage.data.data)"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQqBPK5FnorNl-QxakUC6VNnKSm2MnAH7SYg&usqp=CAU" alt="Photo of sunset">
          <img *ngIf="data.newimage && data.newimage.data && data.newimage.data.data"
            src="{{arrayBufferToBase64(data.newimage.data.data)}}" alt="Photo of sunset">
          <h5 class="item-card-title mt-3 mb-3" style="font-weight: 700;">{{data.packageNname}}
            <label class="rupeesymbol" style="font-weight: 700;display:block;">&#8377;
              {{data.packageAmount.toLocaleString('en-IN')}}</label>
            
          </h5>
          <!-- <p class="card-text" *ngIf="data.description">
            {{data.description.length > 50 ? data.description.substring(0,95)+'...' : data.description  }}</p> -->
            <div style="float:left;width:100%">
              <div style="float:left;width:96%" class="card-title1">
               <i class="fa fa-pencil" *ngIf="currentUser.user.role==11" aria-hidden="true"
               (click)="openLabTestPackageProfilePopup(data._id)"></i>
                 </div>
                 <div style="float:left;width:4%" class="card-title1">
                   <i *ngIf="currentUser.user.role==11" class="fa fa-trash" aria-hidden="true"
                   (click)="openDeleteConfirmationPopup(data._id)" style="color:red"></i>
                 </div>
                 </div>
       
          </div>
      </div>
    </div>
  </div>
 


  <div *ngIf="showConfirmationPopup">
    <app-confirmation [showModal]="showConfirmationPopup" [showData]="showData" (ClosePopup)="closeConfirmationPopup($event)">
    </app-confirmation>
  </div>


  
  
  <div *ngIf="showLabTestPackageProfilePopup">
    <app-labtestpackageprofile [showModal]="showLabTestPackageProfilePopup" [getlabtestpackageid]="getlabtestpackageid"
      (ClosePopup)="closeLabTestPackageProfilePopup($event)"> </app-labtestpackageprofile>
  </div>
  

