<form [formGroup]="pharmaVisitCompleteIntimationForm" (ngSubmit)="Save_PharmaVisitCompleteIntimation()">
  <ad-modal [title]="'OTP'" [modalId]="'showPharmacistVisitCompleteIntimationModal'">
    <ad-modal-body>
      <div class="modal-header" style="height:47px; background: linear-gradient(to right, #39b49a 0%, #1d86df 100%);">
        <button type="button" class="close" (click)="CloseModal(false)"><span aria-hidden="true"
            class="closebtnspan">&times;</span></button>
        <p class="cc popupheaderheading"><i class="fa fa-medkit"></i><span style="margin-left:5px"> Pharmacist
            &nbsp;<span style="color:white">Visit Intimation</span></span>
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                </div>
                <input type="text" class="form-control" id="patientName" name="patientName" placeholder="Patient Name"
                  formControlName="patientName">
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="exampleFormControlSelect1">Medicine</label>
              <select class="form-control" formControlName="medicineName" (change)="medicineChangeEvent($event)">
                <option value=""></option>
                <option *ngFor="let opt of medicineListDataArray" [value]="opt.medicineName">{{opt.medicineName}}
                </option>
              </select>
            </div> -->
            <!-- <div class="form-group">
              <label for="exampleFormControlSelect1">Doctor</label>
              <select class="form-control" formControlName="doctorName" (change)="doctorChangeEvent($event)">
                <option value=""></option>
                <option *ngFor="let opt of doctorListDataArray" [value]="opt.name">{{opt.name}}</option>
              </select>
            </div> -->

            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                </div>
                <input type="text" class="form-control" id="doctorName" name="doctorName" placeholder="Doctor Name"
                  formControlName="doctorName">
              </div>
            </div>


            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                </div>
                <input type="text" class="form-control" id="pharmacyPersonContactNo" name="pharmacyPersonContactNo"
                  placeholder="Pharmacy Person ContactNo" formControlName="pharmacyPersonContactNo">
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="card" *ngIf="medicineToBeDeliver.length>0" style="overflow: auto;height: 200px;">
              <div class="gaadiex-list" *ngFor="let data of medicineToBeDeliver">
                <div class="gaadiex-list-item border-b-1" style="margin-bottom:5px;height:60px;border: 3px solid rgb(57 180 155 / 32%);">

                <div class="row" style="width: 100%;float:left;">
                  <div style="width: 20%;float:left;">
                    <img class="gaadiex-list-item-img" *ngIf="!(data.newimage && data.newimage.data && data.newimage.data.data)"
                      src="{{getDefaultImage}}" alt="Photo of sunset">
                    <img class="gaadiex-list-item-img" *ngIf="data.newimage && data.newimage.data && data.newimage.data.data"
                      src="{{arrayBufferToBase64(data.newimage.data.data)}}" alt="Photo of sunset">
                  </div>
                  <div style="width: 1%;float:left;">
                  </div>
                  <div style="width: 39%;float:left;">
                    <h6>{{data.medicineName}}</h6>
                    <h6>Qty:{{data.medicineOccurance}}</h6>

                  </div>
                  <div style="width: 40%;float:left;">
<div>Price: <i class="fa fa-inr" aria-hidden="true"></i>{{data.price.toLocaleString('en-IN')}} </div>

                  </div>
                  <!-- <div style="width: 20%;float:left;padding-top: 2%;">
                  
                    
                 
                      
                  </div> -->
                </div>
</div>


              </div>

            </div>
            <div style="width:100%;float:left;background-color: #36b0a145;" *ngIf="medicineToBeDeliver.length>0">
              <div style="width:65%;float:left;">
                <h6>SubTotal:</h6>
              </div>
              <div style="width:22%;float:left;">
                <i class="fa fa-inr" aria-hidden="true"></i>
                &nbsp;{{priceTotal.toLocaleString('en-IN')}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ad-modal-body>
    <ad-modal-footer>
      <div class="buttonSection">
        <div class="text-center">
          <input type="submit" style="width: 200px;" value="Save" class="btn btn-info btn-block rounded-0 py-2">
        </div>
      </div>
    </ad-modal-footer>
  </ad-modal>
</form>
