<form [formGroup]="createlabtestpackageform" (ngSubmit)="Save_LabTestsPackage()">

    <ad-modal [title]="'OTP'" [modalId]="'showCreateLabTestMasterPopup'">
      <ad-modal-body>
        <div class="overlay"></div>
        <div class="popupContainer">
          <div class="containerBlock">
            <div class="formSection">
              <div class="container">
                <h2 class="text-center"></h2>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <!--Form with header-->
                      <div class="card" style="border: transparent!important;">
                        <div class="card-header p-0">
                          <div class="bg-info text-white text-center py-2">
                            <h3><i class="fa fa-medkit"></i>Create Lab Test Package</h3>
                            <!-- <p class="m-0">Con gusto te ayudaremos</p> -->
                          </div>
                        </div>
                        <div class="card-body p-3">
                          <!--Body-->
                          <div class="form-group">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                              </div>
                              <input type="text" class="form-control" id="packageNname" name="packageNname"
                                placeholder="Package Name" formControlName="packageNname">
                            </div>
                          </div>

                          <!-- <div class="form-group">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                              </div>
                              <input type="text" class="form-control" id="sampleType" name="sampleType"
                                placeholder="sampleType" formControlName="sampleType">
                            </div>
                          </div> -->

                          <!-- <div class="form-group">
                            <label for="exampleFormControlSelect1">Test</label>
                            <select  class="form-control" formControlName="testsData">
                                <option value=""></option>
                                <option *ngFor="let opt of labTestData" [value]="opt.testname">{{opt.testname}}</option>
                          </select>
                          </div> -->

                          <div class="form-group">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                              </div>
                              <input type="number" class="form-control" id="packageAmount" name="packageAmount"
                                placeholder="Package Amount" formControlName="packageAmount">
                            </div>
                          </div>



                          <div class="form-group">
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                              </div>
                              <!-- <input type="number" class="form-control" id="packageAmount" name="packageAmount"
                                placeholder="packageAmount" > -->
                              <angular2-multiselect [data]="labTestData" [(ngModel)]="selectedItems" 
                              [settings]="settings" 
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)" 
                              (onSelectAll)="onSelectAll($event)" 
                              (onDeSelectAll)="onDeSelectAll($event)" formControlName="skills" style="width: 89%;">
        </angular2-multiselect>
                            </div>
                          </div>



                         


                         
                        </div>
                      </div>
                  </div>
                  <!-- <div class="col-md-4">
                      <img class="otpPopup-img" src="../../../../assets/images/passwordsetImg.png" alt="passwordsetImg">
  
                  </div> -->
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
      </ad-modal-body>
      <ad-modal-footer>
        <div class="buttonSection">
          <div class="text-center">
              <input type="submit" style="width: 200px;" value="Save" class="btn btn-info btn-block rounded-0 py-2">
            </div>
          <!-- <button class="primartButton" type="submit">Send OTP</button>
          <button class="secondryButton" type="reset" (click)="CloseModal()">Cancel</button> -->
        </div>
      </ad-modal-footer>
  
    </ad-modal>
  
  </form>
  