<div style="position: absolute;top: 17%;width:100%;">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
              <thead style="background-color:#17a2b8">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pharmacist Name</th>
                    <th scope="col">isPharmacyProvided</th>
                    <th scope="col">Patient Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of doctorAppointmentHistoryData;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{data.pharmacistName}}</td>
                    <td>{{data.isPharmacyProvided}}</td>
                    <td>{{data.patientName}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-6">
            <table class="table">
              <thead style="background-color:#17a2b8">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">isPharmacyProvided</th>
                    <th scope="col">Comp Visit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of doctorAppointmentListData;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{data.patientName}}</td>
                    <td>{{data.isPharmacyProvided}}</td>

                    <td>    <button (click)="openPharmacistVisitCompleteIntimation(data)" id="btn2" class="btn btn-info btn-block rounded-0 py-2">Comp Visit</button></td>

                    <!-- <td (click)="openPharmacistVisitCompleteIntimation(data)">Visit All</td> -->
                  </tr>
                </tbody>
              </table>
        </div>

    </div>

</div>




  <div *ngIf="showPharmacistVisitCompleteIntimation">
    <app-pharmacist-visit-complete-intimation [inputPharmacistVisitCompleteIntimationModalData]="inputPharmacistVisitCompleteIntimationModal" [appointmentid]="visitAppointmentId" [showModal]="'showPharmacistVisitCompleteIntimationModal'"  (ClosePopup)="closePharmacistVisitCompleteIntimation()"> </app-pharmacist-visit-complete-intimation>
  </div>