



<div class="content"  style="position: absolute;top:17%;width:96%;left:2%;right:2%;">
  <div class="container-fluid p-0">

   
  
    <div class="row">
      <div class="col-md-8">
        <div class="card flex-fill w-100">
          <div class="card-header">

            <h5 class="card-title mb-0">Pharmacy Provided Status</h5>
          </div>
          <div class="card-body d-flex">
            <div class="align-self-center w-100">
              <div class="py-3">
                <div class="chart chart-xs">
                  <div style="display: block;">
                    <table class="table">
                      <thead style="background-color:#17a2b8">
                        <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Pharmacist Name</th>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Doctor Name</th>
                            <th scope="col">Patient PIN</th>

                            <th scope="col">Pharmacy Provided</th>
                          </tr>
                        </thead>
                        <tbody>


                          <tr *ngFor="let data of doctorAppointmentListData;let i = index" [ngStyle]="{  'background-color': !data.isPharmacyProvided ? '#80808045': '' }" >                  
                            <td scope="row">{{i+1}}</td>

                            <td>{{data.pharmacistName}}</td>
                            <td class="d-none d-xl-table-cell">{{data.patientName}}</td>
                            <td class="d-none d-xl-table-cell">{{data.doctorName}}</td>
                            <td class="d-none d-xl-table-cell">{{data.patientPIN}}</td>

                            <td>
                              <a  *ngIf="!data.isPharmacyProvided" (click)="openPharmacistVisitCompleteIntimation(data)" class="btn" style="font-size:13px;background-color:#007bff"><i class="fa fa-times" aria-hidden="true"></i>
                               Comp Visit</a>
                               <a  *ngIf="data.isPharmacyProvided" class="btn" style="font-size:13px;background-color: green;cursor: not-allowed;"><i class="fa fa-check" aria-hidden="true"></i>
                                Provided</a>
                            </td>
          
          
                            <!-- <td><span  (click)="!data.isVisitCompleted > 0 ? openShowVisitForAll(data) : false"  [ngClass]="data.isVisitCompleted ? 'badge badge-warning deactivevisitispharmacyprovide ' : 'badge badge-success activevisitispharmacyprovide'">{{data.isVisitCompleted === true ? 'Completed' : 'To Be Visit'}}</span></td>
                            <td><span  (click)="!data.isPharmacyProvided > 0 ? openRequestPatMedHomeDelivery(data) : false"  [ngClass]="data.isPharmacyProvided ? 'badge badge-warning deactivevisitispharmacyprovide ' : 'badge badge-success activevisitispharmacyprovide'">{{data.isPharmacyProvided === true ? 'Provided' : 'To Be Provide'}}</span></td> -->
                          </tr>

                        </tbody>
                      </table>



                  </div>
                  
                </div>
              </div>

           
            </div>
          </div>
        </div>
      </div>
    
    
    </div>






  </div>
</div>







  <div *ngIf="showPharmacistVisitCompleteIntimation">
    <app-pharmacist-visit-complete-intimation [inputPharmacistVisitCompleteIntimationModalData]="inputPharmacistVisitCompleteIntimationModal" [appointmentid]="visitAppointmentId" [showModal]="'showPharmacistVisitCompleteIntimationModal'"  (ClosePopup)="closePharmacistVisitCompleteIntimation()"> </app-pharmacist-visit-complete-intimation>
  </div>