<!-- <div class="container" style="position: absolute;top:17%">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr >
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">Product 1</h4>
										<p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
									</div>
								</div>
							</td>
							<td data-th="Price">$1.99</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td>
							<td data-th="Subtotal" class="text-center">1.99</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
							<td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div> -->




<div  style="position:absolute;top: 25%;left: 9%;width: 80%;">

    
    <div class="row">
      <table class="table table-hover my-0" style="text-align: center;">
        <thead style="background-color: #39b49b40;">
          <tr>
            <th style="width: 5%;">S.No</th>
			<th style="width: 13%;">First</th>
			<th style="width: 13%;">Item Name</th>
			<th style="width: 13%;">Rate</th>
			<th  class="d-none d-xl-table-cell" style="width: 8%;">Qty</th>
			<th style="width: 13%;" class="d-none d-xl-table-cell">Price</th>
			<th  class="d-none d-xl-table-cell" style="width: 10%;">Delete</th>
          </tr>
        </thead>
        <tbody>

		


          <tr *ngFor="let data of cartDetailPageInfo;let i = index;">
            <td style="vertical-align: middle;">{{i+1}}.</td>
				<td style="font-weight: 500;margin-top: 4%;margin-left: 40%;" class="namefirstchar">{{data.itemName.substr(0, 1).toUpperCase()}}</td>
			<td style="font-weight: 600;vertical-align: middle;">{{data.itemName}}</td>
			<td style="font-weight: 600;vertical-align: middle;">&#8377; {{data.orignalPrice.toLocaleString('en-IN')}}</td>

            <!-- <td class="d-none d-xl-table-cell" style="vertical-align: middle;">{{data.companyName}}</td> -->
			<td class="d-none d-md-table-cell" style="font-weight: 600;vertical-align: middle;">
				<i class="fa fa-plus" (click)="addQtyByOne(data)" style="width: 25%;font-size: 20;color: blue;"></i>
				<input type="text" style="width:50%;text-align: right;border:2px solid #0000001c;" [(ngModel)]="data.qty" (change)="qtyChange(data.qty,data)">
				<i class="fa fa-minus" (click)="reduceQtyByOne(data)" style="width: 25%;font-size: 20;color: #ff00008c;"></i>
			</td>
			<td class="d-none d-md-table-cell" style="font-weight: 600;vertical-align: middle;">&#8377; {{data.price.toLocaleString('en-IN')}}</td>

			<td   class="d-none d-xl-table-cell" style="vertical-align: middle;"><i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;"
				(click)="RemoveCartDetails(data.itemID)" style="color:#ff0000b8"></i></td>


            
<!-- 
            <div style="width:100%; float:left;">
              <div class="item_button" ng-click="addtocart(itemdata)"><a style="cursor:pointer;"><i class="fa fa-cart-plus"></i> ADD TO CART</a></div>
              <div class="item_button" ng-click="addtowishlist(itemdata)" style="cursor:pointer; float:right; background-color:#e3714b;"><a><i class="fa fa-heart-o"></i> ADD TO WISHLIST</a></div>
          </div> -->
          </tr>
		</tbody>
		
		<tfoot *ngIf="cartDetailPageInfo.length>0">
			<!-- <tr class="visible-xs">
				<td class="text-center"><strong>Total 1.99</strong></td>
			</tr> -->
			<tr>
				<!-- <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td> -->				
			</tr>
		</tfoot>
	  </table>

	<div style="width: 28%;margin-top: 5%;margin-left: 71%;">
		<div class="hidden-xs text-center"><strong style="width: 50%;float: left;padding-top: 1%;
			font-size: 22px;"> &#8377; {{cartPriceTotal.toLocaleString('en-IN')}}</strong></div>
		<div style="width: 45%;float: right;"><a class="btn btn-success btn-block" style="color: white;" (click)="checkOutBtnClick()">Checkout <i
					class="fa fa-angle-right" style="font-size: 20px;"></i></a></div>
	</div>
    </div>

  </div>