


<div class="container mt-2" style="position:absolute;top:21%;left:7%;">

    <div style="margin-bottom:1%;">
      <a *ngIf="currentUser.user.role==0 || currentUser.user.role==11"  class="btn btn-primary" (click)="openBookAppointmentPopup()" >Book Appointment</a>
      <a *ngIf="currentUser.user.role==1 || currentUser.user.role==11"  class="btn btn-primary" (click)="openDiseasMasterPopup()">Diseases Master</a>
      <a  *ngIf="currentUser.user.role==11"   class="btn btn-primary" (click)="openExpertiesMasterPopup()">Experties Master</a>
      <a  *ngIf="currentUser.user.role==1 || currentUser.user.role==11"  class="btn btn-primary" (click)="openDoctorDashboard()">Doctor Dashboard</a>
      <a  *ngIf="currentUser.user.role==1 || currentUser.user.role==11"  class="btn btn-primary" (click)="openMedicineMaster()">Medicine Master</a>
      <a *ngIf="currentUser.user.role==4 || currentUser.user.role==11"  class="btn btn-primary" (click)="openPharmacistDashboard()">Pharmacist Dashboard</a>
      <a *ngIf="currentUser.user.role==0 || currentUser.user.role==11" class="btn btn-primary" (click)="openPatientDashboard()">Patient Dashboard</a>
      <a  *ngIf="currentUser.user.role==1 || currentUser.user.role==11" class="btn btn-primary" (click)="openGetLabTest()">GetLabTestList</a>
      <a  *ngIf="currentUser.user.role==1 || currentUser.user.role==11" class="btn btn-primary" (click)="openCreateLabTestMaster()">Create Test</a>
      <a  *ngIf="currentUser.user.role==1 || currentUser.user.role==11" class="btn btn-primary" (click)="openCreateLabTestPackageMaster()">LabTestsPackage</a>
      <a  *ngIf="currentUser.user.role==0 || currentUser.user.role==11" class="btn btn-primary" (click)="openCreateBookLabTestMaster()">BookLabTest</a>

    </div>

  </div>

  
  <div *ngIf="showDiseasMasterPopup">
    <app-diseasmaster [showModal]="showDiseasMasterPopup"  (ClosePopup)="closeDiseasMasterPopup()"> </app-diseasmaster>
  </div>

  <div *ngIf="showExpertiesMasterPopup">
    <app-expertiesmaster [showModal]="showExpertiesMasterPopup"  (ClosePopup)="closeExpertiesMasterPopup()"> </app-expertiesmaster>
  </div>

  <div *ngIf="showBookAppointmentPopup">
    <app-bookappointment [showModal]="showBookAppointmentPopup"  (ClosePopup)="closeBookAppointmentPopup()"> </app-bookappointment>
  </div>



  <div *ngIf="showMedicineMasterPopup">
    <app-medicinemaster [showModal]="showMedicineMasterPopup"  (ClosePopup)="closeMedicineMaster()"> </app-medicinemaster>
  </div>
  <div *ngIf="showCreateLabTestMasterPopup">
    <app-createlabtest [showModal]="showCreateLabTestMasterPopup"  (ClosePopup)="closeCreateLabTestMaster()"> </app-createlabtest>
  </div>

  <div *ngIf="showCreateLabTestPackageMasterPopup">
    <app-createlabtestpackage  [showModal]="showCreateLabTestPackageMasterPopup"  (ClosePopup)="closeCreateLabTestMaster()"> </app-createlabtestpackage>
  </div> 
  
  <div *ngIf="showCreateBookLabTestPopup">
    <app-createbooklabtest  [showModal]="showCreateBookLabTestPopup"  (ClosePopup)="closeCreateLabTestMaster()"> </app-createbooklabtest>
  </div>