


<div class="container mt-2" style="position:absolute;top:21%;left:7%;">

    <div style="margin-bottom:1%;">
      <a  class="btn btn-primary" (click)="openBookAppointmentPopup()">Book Appointment</a>
      <a  class="btn btn-primary" (click)="openDiseasMasterPopup()">Diseases Master</a>
      <a  class="btn btn-primary" (click)="openExpertiesMasterPopup()">Experties Master</a>
      <a  class="btn btn-primary" (click)="openDoctorDashboard()">Doctor Dashboard</a>
      <a  class="btn btn-primary" (click)="openMedicineMaster()">Medicine Master</a>
      <a  class="btn btn-primary" (click)="openPharmacistDashboard()">Pharmacist Dashboard</a>
    </div>

  </div>

  
  <div *ngIf="showDiseasMasterPopup">
    <app-diseasmaster [showModal]="showDiseasMasterPopup"  (ClosePopup)="closeDiseasMasterPopup()"> </app-diseasmaster>
  </div>

  <div *ngIf="showExpertiesMasterPopup">
    <app-expertiesmaster [showModal]="showExpertiesMasterPopup"  (ClosePopup)="closeExpertiesMasterPopup()"> </app-expertiesmaster>
  </div>

  <div *ngIf="showBookAppointmentPopup">
    <app-bookappointment [showModal]="showBookAppointmentPopup"  (ClosePopup)="closeBookAppointmentPopup()"> </app-bookappointment>
  </div>



  <div *ngIf="showMedicineMasterPopup">
    <app-medicinemaster [showModal]="showMedicineMasterPopup"  (ClosePopup)="closeMedicineMaster()"> </app-medicinemaster>
  </div>
