


<div class="container mt-2" style="position:absolute;top:21%;left:7%;">

      <div style="margin-bottom:1%;">
        <!-- <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p> -->
        <a  class="btn btn-primary" (click)="openDoctorProfilePopup()" *ngIf="currentUser.user.role==1">Welcome for the Doctors to see their profile</a>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 item" *ngFor="let data of doctorListData">
          <div class="card item-card card-block" style="padding: 2% 2%;">
        <h4 class="card-title text-right"> 
            <i class="fa fa-pencil" *ngIf="currentUser.user.role==11" aria-hidden="true" (click)="openDoctorProfilePopup(data._id)"></i>
            <i  *ngIf="currentUser.user.role==11" class="fa fa-times" aria-hidden="true" (click)="deleteDoctorProfilePopup(data._id)"></i>
          </h4>
          <img *ngIf="data.experties=='physician'" src="https://cyclonethemes.com/demo/html/swasthye/images/home/appointment.png" alt="Photo of sunset">
          <img *ngIf="data.experties!='physician'" src="https://thumbs.dreamstime.com/z/young-female-doctor-white-dress-19541983.jpg" alt="Photo of sunset">
          <h5 class="item-card-title mt-3 mb-3">{{data.name}} • Doctor {{data.charges}}</h5>
            <p class="card-text">{{data.experties}}</p>
      </div>
        </div>

      </div>

    </div>


    <div *ngIf="showForgotPasswordtPopup">


        <app-doctorprofile [showModal]="showForgotPasswordtPopup" [getdoctorprofileid]="getdoctorprofileid" (ClosePopup)="closeForgotPasswordPopup()"> </app-doctorprofile>
      </div>


