<div  style="position:absolute;top:17%;left: 3%;width: 93%;right: 3%;">
    <div style="width:100%;float:left;height:50px;margin-bottom: 1%;">
      <div style="width: 23%;float: left;margin-top: 6px;margin-left: 4%;">
        <a class="btn btn-primary" style="font-size: 14px;height: 35px;" (click)="openMedicineProfilePopup()" *ngIf="currentUser.user.role==11"><i class="fa fa-plus" style="color: white;font-size: 18px;padding-right: 5px;"></i> Medicine</a>

      </div>
   
      <div style="width: 15%;float: left;margin-top: 1%;margin-left: 4%;">
        <select class="form-control" (change)="companyNameChangeEvent($event.target.value)" style="height: 29px;font-size: 12px;">

          <option value="Select Company Name" selected>Search by Company</option>
          <option *ngFor="let opt of companyArrayData" [value]="opt.companyName">
            {{opt.companyName}}</option>
        </select>
      </div>


    </div>

    <div class="row">
      <table class="table table-hover my-0" style="text-align: center;">
        <thead style="background-color: #39b49b;">
          <tr>
            <th style="width: 5%;">S.No</th>
            <th style="width: 13%;">Image</th>
            <th style="width: 13%;">Medicine Name</th>
            <th style="width: 13%;" class="d-none d-xl-table-cell">Company</th>
            <th style="width: 13%;" class="d-none d-xl-table-cell">Price</th>
            <th *ngIf="currentUser.user.role==11" style="width: 5%;" class="d-none d-xl-table-cell">Edit</th>
            <th *ngIf="currentUser.user.role==11"  style="width: 5%;" class="d-none d-xl-table-cell">Delete</th>
            <th style="width: 11%;" class="d-none d-xl-table-cell">ADD TO CART</th>

            <th class="d-none d-xl-table-cell">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr class="gaadiex-list" *ngFor="let data of medicineListDataArray;let i = index;">
            <td style="vertical-align: middle;">{{i+1}}.</td>
            <td>
              <img *ngIf="!(data.newimage && data.newimage.data && data.newimage.data.data)" src="{{getDefaultImage}}"
                alt="Photo of sunset">
              <img *ngIf="data.newimage && data.newimage.data && data.newimage.data.data"
                src="{{arrayBufferToBase64(data.newimage.data.data)}}" alt="Photo of sunset">
            </td>
            <td style="font-weight: 600;vertical-align: middle;">{{data.medicineName}}</td>
            <td class="d-none d-xl-table-cell" style="vertical-align: middle;">{{data.companyName}}</td>
            <td class="d-none d-md-table-cell" style="font-weight: 600;vertical-align: middle;">&#8377; {{data.price}}</td>
            <td *ngIf="currentUser.user.role==11" class="d-none d-xl-table-cell" style="vertical-align: middle;"><i class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;"
              (click)="openMedicineProfilePopup(data._id)"></i></td>
            <td  *ngIf="currentUser.user.role==11" class="d-none d-xl-table-cell" style="vertical-align: middle;"><i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;"
              (click)="openDeleteConfirmationPopup(data._id)" style="color:red"></i></td>

              <td class="d-none d-xl-table-cell" style="vertical-align: middle;"><i class="fa fa-cart-plus" aria-hidden="true" [ngStyle]="{ 'color': data.isAddedInCart ? 'green': 'rgb(20, 127, 218)', 'cursor': data.isAddedInCart ? 'not-allowed': 'pointer' }"  style="font-size: 50px; cursor: pointer;"
                (click)="addToCart(data)"></i></td>

            <td class="d-none d-xl-table-cell">{{data.description.length > 180 ? data.description.substring(0,180)+'...' : data.description  }}</td>
            
<!-- 
            <div style="width:100%; float:left;">
              <div class="item_button" ng-click="addtocart(itemdata)"><a style="cursor:pointer;"><i class="fa fa-cart-plus"></i> ADD TO CART</a></div>
              <div class="item_button" ng-click="addtowishlist(itemdata)" style="cursor:pointer; float:right; background-color:#e3714b;"><a><i class="fa fa-heart-o"></i> ADD TO WISHLIST</a></div>
          </div> -->
          </tr>
        </tbody>
      </table>
    </div>

  </div>



  <div *ngIf="showMedicineprofileformpopup">
      <app-medicineprofile [showModal]="showMedicineprofileformpopup"  [getmedicineprofileid]="getmedicineprofileid" (ClosePopup)="closeMedicineProfilePopup($event)"> </app-medicineprofile>
    </div>

    <div *ngIf="showPrescriptionUploadformpopup">
      <app-prescriptionupload [showModal]="showPrescriptionUploadformpopup" [medicineData]="medicineData" (ClosePopup)="closePrescriptionUploadPopup()"> </app-prescriptionupload>
    </div>

    <div *ngIf="showConfirmationPopup">
      <app-confirmation [showModal]="showConfirmationPopup" [showData]="showData" (ClosePopup)="closeConfirmationPopup($event)">
      </app-confirmation>
    </div>


