
 

     <!-- <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('https://image.shutterstock.com/image-photo/health-banner-care-healthcare-management-250nw-1530954482.jpg');"> -->
      <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4"   [ngStyle]="{ 'background-image': 'url(' + TopNavImage.image + ')'}"   >

      
      <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12">
                 <div class="text-contant">
                    <h2>
                       <span class="center"><span class="icon"><img src="../../assets/images/icon-logo.png" alt="#" /></span></span>
                       <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome to Life Care", "We Care Your Health", "We are Expert!" ]'>
                       <span class="wrap"></span>
                       </a>
                    </h2>
                 </div>
              </div>
           </div>
           <!-- end row -->
        </div>
        <!-- end container -->
      </div>
        <div id="time-table" class="time-table-section">
          <div class="container">
            <div class="row" style="width: 85%; margin-left: 8%;">
             <div class="col-md-4">
                <div class="row">
                   <div class="service-time one" style="background:#4cc0b9d1;">
                      <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
                      <h3>{{webText.TopNavFirstSectionFirstHeading}}</h3>
                      <p>{{webText.TopNavFirstSectionSecondHeading}}</p>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="row">
                   <div class="service-time middle" style="background:#53cac578;">
                      <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span> 
                      <h3>{{webText.TopNavSecondSectionFirstHeading}}</h3>
                      <div class="time-table-section">
                         <ul style="color: #000000cc;">
                           <li><span class="left">{{webText.TopNavSecondSectionSecondHeading}}</span></li>
                           <li><span class="left">{{webText.TopNavSecondSectionThirdHeading}}</span></li>
                           <li><span class="left">{{webText.TopNavSecondSectionFourthHeading}}</span></li>                           
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="row">
                   <div class="service-time three" style="background:#4cc0b9d1;">
                      <span class="info-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
                      <h3>{{webText.TopNavThirdSectionFirstHeading}}</h3>
                      <p>{{webText.TopNavThirdSectionSecondHeading}}</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
      </div>
     
    
    
    <div class="container">

    

    <div class="row" style="margin-top: 4%;">
      <div class="col-md-6">
         <div class="message-box">
            <h4>{{webText.WhatWeDoFirstHeading}}</h4>
            <h2>{{webText.WhatWeDoSecondHeading}}</h2>
            <p class="lead">{{webText.WhatWeDoThirdHeading}}</p>
            <p>{{webText.WhatWeDoFourthHeading}}</p>
            <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>
         </div>
         <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
         <div class="post-media wow fadeIn">
            <img alt="" class="img-responsive" [src]="WhatWeDo.image">

            <!-- <img src="../../assets/images/about_03.jpg" alt="" class="img-responsive"> -->
            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
         </div>
         <!-- end media -->
      </div>
      <!-- end col -->
   </div>


   <div class="row" style="margin-top:6%;">
    <div class="col-md-3 col-sm-6 col-xs-12">
       <div class="service-widget">
          <div class="post-media wow fadeIn">
             <a href="../../assets/images/clinic_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
             <!-- <img src="../../assets/images/clinic_02.jpg" alt="" class="img-responsive"> -->
             <img alt="" class="img-responsive" [src]="Services.image1">

            </div>
          <h3>{{webText.WhatWeDoFirstImgHeading}}</h3>
       </div>
       <!-- end service -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
       <div class="service-widget">
          <div class="post-media wow fadeIn">
             <a href="../../assets/images/clinic_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
             <img alt="" class="img-responsive" [src]="Services.image2">

           
             <!-- <img src="../../assets/images/clinic_02.jpg" alt="" class="img-responsive"> -->
          </div>
          <h3>{{webText.WhatWeDoSecondImgHeading}}</h3>
       </div>
       <!-- end service -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
       <div class="service-widget">
          <div class="post-media wow fadeIn">
             <a href="../../assets/images/clinic_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
             <img alt="" class="img-responsive" [src]="Services.image3">

             <!-- <img src="../../assets/images/clinic_03.jpg" alt="" class="img-responsive"> -->
          </div>
          <h3>{{webText.WhatWeDoThirdImgHeading}}</h3>
       </div>
       <!-- end service -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
       <div class="service-widget">
          <div class="post-media wow fadeIn">
             <a href="../../assets/images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
             <img alt="" class="img-responsive" [src]="Services.image4">

             <!-- <img src="../../assets/images/clinic_01.jpg" alt="" class="img-responsive"> -->
          </div>
          <h3>{{webText.WhatWeDoForthImgHeading}}</h3>
       </div>
       <!-- end service -->
    </div>
 </div>  



 <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;" data-scroll-id="doctors" tabindex="-1">
  <div class="container">

<div class="heading">
         <span class="icon-logo"><img   style="margin-left: 46%;" src="../../assets/images/icon-logo.png" alt="#"></span>
         <h2>The Specialist Clinic</h2>
      </div>

      <div class="row dev-list text-center">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
              <div class="widget clearfix">
                  <!-- <img src="../../assets/images/doctor_01.jpg" alt="" class="img-responsive img-rounded"> -->
                  <img alt="" class="img-responsive img-rounded" [src]="SpecialistClinic.image1">

                  <div class="widget-title">
                      <h3 class="testclass">{{webText.SpecialistImage1Heading1}}</h3>
                      <small class="smallheading">{{webText.SpecialistImage1Heading2}}</small>
                  </div>
                  <!-- end title -->
                  <p>{{webText.SpecialistImage1Heading3}}</p>

                  <div class="footer-social">
                      <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div><!--widget -->
          </div><!-- end col -->

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
              <div class="widget clearfix">
                  <!-- <img src="../../assets/images/doctor_02.jpg" alt="" class="img-responsive img-rounded"> -->
                  <img alt="" class="img-responsive img-rounded" [src]="SpecialistClinic.image2">

                  <div class="widget-title">
                      <h3 class="testclass">{{webText.SpecialistImage2Heading1}}</h3>
                      <small class="smallheading">{{webText.SpecialistImage2Heading2}}</small>
                  </div>
                  <!-- end title -->
                  <p>{{webText.SpecialistImage2Heading3}}</p>

                  <div class="footer-social">
                      <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div><!--widget -->
          </div><!-- end col -->

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
              <div class="widget clearfix">
                  <!-- <img src="../../assets/images/doctor_03.jpg" alt="" class="img-responsive img-rounded"> -->
                  <img alt="" class="img-responsive img-rounded" [src]="SpecialistClinic.image3">

                  <div class="widget-title">
                      <h3 class="testclass">{{webText.SpecialistImage3Heading1}}</h3>
                      <small class="smallheading">{{webText.SpecialistImage3Heading2}}</small>
                  </div>
                  <!-- end title -->
                  <p>{{webText.SpecialistImage3Heading3}}</p>

                  <div class="footer-social">
                      <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div><!--widget -->
          </div><!-- end col -->

      </div><!-- end row -->
  </div><!-- end container -->
</div>
   
  </div>
 
  <hr>
  <footer id="footer" class="footer-area wow fadeIn">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="logo padding">
                <a href=""><img style="height: 46px;" src="../../assets/images/logo.png" alt=""></a>
                <p>{{webText.FooterFisrtSectionHeading1}}</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="footer-info padding">
                <h3>{{webText.FooterSecondSectionHeading1}}</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{webText.FooterSecondSectionHeading2}}</p>
                <p><i class="fa fa-paper-plane" aria-hidden="true"></i>{{webText.FooterSecondSectionHeading3}}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> {{webText.FooterSecondSectionHeading4}}</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="subcriber-info">
                <h3>{{webText.FooterThirdSectionHeading1}}</h3>
                <p>{{webText.FooterThirdSectionHeading2}}</p>
                <div class="subcriber-box">
                   <form id="mc-form" class="mc-form">
                      <div class="newsletter-form">
                         <input type="email" autocomplete="off" id="mc-email" placeholder="Email address" class="form-control" name="EMAIL">
                         <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button> 
                         <div class="clearfix"></div>
                         <!-- mailchimp-alerts Start -->
                         <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div>
                            <!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div>
                            <!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div>
                            <!-- mailchimp-error end -->
                         </div>
                         <!-- mailchimp-alerts end -->
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>

 <div class="copyright-area wow fadeIn">
  <div class="container">
     <div class="row">
        <div class="col-md-8">
           <div class="footer-text">
              <p>© 2020 Lifecare. All Rights Reserved.</p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="social">
              <ul class="social-links">
                 <li><a href=""><i class="fa fa-rss"></i></a></li>
                 <li><a href=""><i class="fa fa-facebook"></i></a></li>
                 <li><a href=""><i class="fa fa-twitter"></i></a></li>
                 <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                 <li><a href=""><i class="fa fa-youtube"></i></a></li>
                 <li><a href=""><i class="fa fa-pinterest"></i></a></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</div>
      
