<div class="content" style="position: absolute;top: 17%;width:96%;left:2%;right:2%;">
    <div class="container-fluid p-0">
      <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
          <h3 style="color:#39b49b"><strong style="color:#39b49b">Admin</strong> Dashboard</h3>
        </div>
        <div class="col-auto ml-auto text-right mt-n1">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
            </ol>
          </nav>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-lg-12 col-xxl-9 d-flex">
          <div class="card flex-fill">
            <div class="card-header">
              <h5 class="card-title mb-0">Medicine Approval Requests</h5>
            </div>
            <table class="table table-hover my-0" *ngIf="uploadPrescriptiondata.length>0;else other_content">
              <thead style="background-color: #39b49b;">
                <tr>
                    <th class="d-none d-md-table-cell">Medicine Name</th>

                  <th class="d-none d-xl-table-cell">
                    <span style="cursor: pointer;">
                      <span>Patient Info</span>                     
                    </span></th>
                  <th class="d-none d-md-table-cell">Pat Contact</th>
                  <th class="d-none d-md-table-cell">Req Date</th>
                  <th>Pharmacy Req</th>
                  <th class="d-none d-md-table-cell">Approval Date</th>
                  <!-- <th class="d-none d-md-table-cell">Appt Slot</th> -->
                  <!-- <th class="d-none d-xl-table-cell">Dr Visit</th>
                 
                  <th>Pharmacy</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of uploadPrescriptiondata;let i=index;">
                    <td class="d-none d-md-table-cell">{{data.medicineName}}</td>

                  <td class="d-none d-xl-table-cell">{{data.patientNname}}/{{data.patientAge}}-{{data.patientSex==1 ? 'M': 'F'}}</td>
                  
                  <td class="d-none d-md-table-cell">{{data.phoneno}}</td>
                  <td class="d-none d-md-table-cell">{{data.RequestDate}}</td> 
                  <td><span (click)="!data.isPrescriptionRequestApproved? openConfirmationPopup(data) : false"
                    [ngClass]="data.isPrescriptionRequestApproved ? 'badge badge-success deactivevisitispharmacyprovide ' : 'badge badge-warning  activevisitispharmacyprovide'">{{data.isPrescriptionRequestApproved === true ? 'Approved' : 'To Be Approved'}}</span>
                </td>
                <td class="d-none d-md-table-cell">{{data.approvalDate}}</td> 
                  <!-- <td class="d-none d-md-table-cell">{{getTimeSlot(data.timeSlot)}}</td> -->
                  <!-- <td><span 
                      [ngClass]="data.isVisitCompleted ? 'badge badge-success ' : 'badge badge-warning'" style="cursor: none;">{{data.isVisitCompleted === true ? 'Completed' : 'To Be Visit'}}</span>
                  </td>
                  
                  <td><span
                      [ngClass]="data.isPharmacyProvided ? 'badge badge-success' : 'badge badge-warning'">{{data.isPharmacyProvided === true ? 'Provided' : 'To Be Provide'}}</span>
                  </td> -->
                  
                </tr>
              </tbody>
              </table>
            <ng-template #other_content>
              <img src="../../assets/images/nodatafound.png">
            </ng-template>
          </div>
        </div>
      </div>
      <br>
      <br><br>
    </div>
  </div>

  <div *ngIf="showConfirmationPopup">
    <app-confirmation [showModal]="showConfirmationPopup" [showData]="showData" (ClosePopup)="closeConfirmationPopup($event)">
    </app-confirmation>
  </div>
 
  <!-- <div *ngIf="showRequestPatMedHomeDelivery">
    <app-request-pat-med-home-delivery [inputrequesPatMedHomeDeliveryData]="inputrequesPatMedHomeDelivery"
      [reqByDoctorId]="reqByDoctorId" [reqByPatientId]="reqByPatientId" [reqByDoctorName]="reqByDoctorName"
      [appointmentid]="visitAppointmentId" [showModal]="'showRequestPatMedHomeDeliveryModal'"
      (ClosePopup)="closeRequestPatMedHomeDelivery($event)"> </app-request-pat-med-home-delivery>
  </div> -->
